<%- model_class = Customer.new.class -%>
<h2>Customers</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Hotel</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.country %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.hotel %></td>
        <td>
          <%= link_to 'Edit', edit_customer_path(customer), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', customer_path(customer), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_customer_path, :class => 'btn btn-primary', :remote => true %>

