<!DOCTYPE html>
<html>
<head>
  <title>Ski Shop Manager</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <a class="brand" href="/"><%= current_store ? current_store.store_name : "Ski Shop"%></a>
	        <div class="nav-collapse">
	          <ul class="nav">
	            <li><%= link_to "Dashboard", store_root_path%></li>		
	            <li><%= link_to "Reports" %></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">	
					Inventory
		 		  <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a><%= link_to "Boots", boots_path%></a></li>
	                <li><a><%= link_to "Skis", skis_path%></li>
	              </ul>
	            </li>
	          </ul>
			   <ul class="nav pull-right">
			            <li><%= mail_to "skishopmanager@gmail.com", "Contact Us" %></li>
			            <li class="divider-vertical"></li>
			            <li class="dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							  <% if store_signed_in? %>
							    Signed in as <%= current_store.owner_first_name + ' ' +  current_store.owner_last_name%>							    
							  <% end %>				
				 		  <b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li><a href="#">Something else</a></li>
			                <li><a href="#"> </a></li>
			                <li><a href="#"><%= link_to "Settings", edit_store_registration_path%></li>
			                <li class="divider"></li>
			                <li><a href="#"><%= link_to "Sign out", destroy_store_session_path, :method => :delete %></a></li>
			              </ul>
			            </li>
			   </ul>
	        </div>
	      <ul class="nav secondary-nav"></ul>
	      </div>
	    </div>
	  </div>
	
	<div class="container">	
		
		<% flash.each do |name, msg| %>
		  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		    <a class="close" data-dismiss="alert">×</a>
		    <%= msg %>
		  </div>
		<% end %>
		
		
		<script type="text/javascript" charset="utf-8">
		  $(function() {
		    new Highcharts.Chart({
		      chart: {
		       			renderTo: 'boots_chart',
				        type: 'column'
		      },
		      title: {	text: 'Boots Inventory' },
		      xAxis: {	categories: ['33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46'] },
			  yAxis: {	min: 0,
						title: { text: 'Number of pairs'},
								 stackLabels: { enabled: false,
											    style: { fontWeight: 'bold',
											    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray' }
											   }
							    },
			   legend: {
						  align: 'right',
						  x: 0,
						  verticalAlign: 'top',
						  y: 20,
						  floating: true,
						  backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
						  borderColor: '#CCC',
						  borderWidth: 1,
					      shadow: false
				},							
			   tooltip: { formatter: function() {
							return '<b>'+ 'Size :' + this.x +'</b><br/>'+
							this.series.name +': '+ this.y +'<br/>'+
							'Total: '+ this.point.stackTotal; }
						 },
			   plotOptions: {
							  column: {
							            stacking: 'normal',
							            dataLabels: {
							                 		  enabled: this.y != 0 ? true : false,
							                          color: 'white'
													}
							            }
							 },
		      series: [
				      <% { "Reserved" => current_store.boots.reserved, "Available" => current_store.boots.available }.each do |name, boots| %>
				      {
				        name: "<%= name %>",
				        data: <%= boots_chart_series(boots) %>
				      },
				      <% end %>
				      ]
		    });
		  });
		
		 $(function() {
		    new Highcharts.Chart({
		      chart: {
		       			renderTo: 'skis_chart',
				        type: 'column'
		      },
		      title: {	text: 'Skis Inventory' },
		      xAxis: {	categories: ['130-139', '140-149', '150-159', '160-169', '170-179', '180-189', '> 190'] },
			  yAxis: {	min: 0,
						title: { text: 'Number of pairs'},
								 stackLabels: { enabled: false,
											    style: { fontWeight: 'bold',
											    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray' }
											   }
							    },
			   legend: {
						  align: 'right',
						  x: 0,
						  verticalAlign: 'top',
						  y: 20,
						  floating: true,
						  backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
						  borderColor: '#CCC',
						  borderWidth: 1,
					      shadow: false
				},							
			   tooltip: { formatter: function() {
							return '<b>'+ this.x +'</b><br/>'+
							this.series.name +': '+ this.y +'<br/>'+
							'Total: '+ this.point.stackTotal; }
						 },
			   plotOptions: {
							  column: {
							            stacking: 'normal',
							            dataLabels: {
							                 		  enabled: this.value = 0 ? false : true,
							                          color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white' }
							            }
							 },
		      series: [
				      <% { "Reserved" => current_store.skis.reserved, "Available" => current_store.skis.available }.each do |name, skis| %>
				      {
				        name: "<%= name %>",
				        data: <%= skis_chart_series(skis) %>
				      },
				      <% end %>
				      ]
		    });
		  });		
	
		</script>
						
		<div class="row">	
			  <div class="row" id="charts_row" style="height: 300px">	
				<div class="span6" id="boots_chart" style="height: 300px"></div>
				<div class="span6" id="skis_chart" style="height: 300px"></div>	
			  </div> <!-- end charts section 	 -->			
			  <div class="row" id="tables">	
					<div class="span4" id="customer_section">	
						<h3><input type="text" name="search" value="" id="cust_tb_filter" placeholder="Search Customers" autofocus="">
	         			 <a class="btn btn-success pull-right" href="<%=new_customer_path%>" id="new_customer_link" data-remote="true" rel="popover" data-content="Click to add more customers to your store!"><i class="icon-plus-sign"></i> Add Customer</a></h3>
						<div data-spy="scroll" data-target="#customer_section", class="scrollspy-table"><%= yield (:customers) %></div>
					</div>	
					<% if @packages %>
					<div class="span5" id="packages_section">	
						<h3><input type="text" name="search" value="" id="packages_tb_filter" placeholder="<%=pluralize(Customer.find(params[:customer_id]).packages.size, 'package') if params[:customer_id]%> for <%=Customer.find(params[:customer_id]).first_name + ' ' + Customer.find(params[:customer_id]).last_name if params[:customer_id]%>" + autofocus="">
							<a class="btn btn-success pull-right" href="<%=new_customer_package_path(params[:customer_id]) if params[:customer_id]%>" id="new_package_link" data-remote="true" rel="popover" data-content="Give them some boots and skis!"><i class="icon-plus-sign"></i> Add Package</a></h3>	
						<div data-spy="scroll" data-target="#packages_section", class="scrollspy-table"><%= yield (:packages) %></div>
					</div>
					<% if @rentals %>
						<div class="span3" id="rentals_section">
						<br /><br />
							<div data-spy="scroll" data-target="#logs_section", class="scrollspy-table"><%= yield (:rentals) %></div>
						</div>
						<% end %>
					<% end %>
					<p id="modal"></p>
				</div> <!-- end tables section -->
		</div> <!-- end main row bootstrap -->
	</div> <!-- end container -->
</body>	
</html>
