<!DOCTYPE html>
<html>
<head>
  <title>SkiResortBoot</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <a class="brand" href="#"><%= current_store ? current_store.store_name : "Ski Shop"%></a>
	        <div class="nav-collapse">
	          <ul class="nav">
	            <li><%= link_to "Reports" %></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">	
					Inventory
		 		  <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a><%= link_to "Boots", boots_path%></a></li>
	                <li><a><%= link_to "Skis", skis_path%></li>
	              </ul>
	            </li>
	          </ul>
			   <ul class="nav pull-right">
			            <li><%= mail_to "skishopmanager@gmail.com", "Contact Us" %></li>
			            <li class="divider-vertical"></li>
			            <li class="dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							  <% if store_signed_in? %>
							    Signed in as <%= current_store.owner_first_name + ' ' +  current_store.owner_last_name%>							    
							  <% end %>				
				 		  <b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li><a href="#">Something else</a></li>
			                <li><a href="#"> </a></li>
			                <li><a href="#"><%= link_to "Settings", edit_store_registration_path%></li>
			                <li class="divider"></li>
			                <li><a href="#"><%= link_to "Sign out", destroy_store_session_path, :method => :delete %></a></li>
			              </ul>
			            </li>
			   </ul>
	        </div>
	      <ul class="nav secondary-nav">
            
          </ul>
	      </div>
	    </div>
	  </div>
	
	<div class="container">	
		
		<% flash.each do |name, msg| %>
		  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		    <a class="close" data-dismiss="alert">×</a>
		    <%= msg %>
		  </div>
		<% end %>

			<div class="span4"><%= yield %></div>
		<p id="modal"></p>
	</div>
</body>	
</html>
